body {
    margin: 0;

    color: #757575;
    background-color: #fafafa;

    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

button {
    position: relative;

    display: inline-block;
    overflow: hidden;

    min-width: 64px;
    height: 36px;
    margin: 0;
    padding: 0 16px;

    cursor: pointer;
    transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    letter-spacing: 0;
    text-transform: uppercase;

    color: #757575;
    border: none;
    border-radius: 2px;
    outline: none;
    background: 0 0;

    font-family: 'Roboto','Helvetica','Arial',sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 36px;

    will-change: box-shadow;
}

button:hover {
    background-color: rgba(158,158,158,.2);
}

.delete:hover {
    color: #000000;
    background-color: rgba(255, 0, 0, 0.44);
}

button:active {
    background-color: rgba(158,158,158,.4);
}

input {
    padding: .5em;

    color: #757575;
    border: 1px solid lightgray;
    border-radius: 2px;
    outline: none;

    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

main {
    overflow: hidden;

    width: 750px;
    margin: 20px auto;

    border-radius: 2px;
    background: #ffffff;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

header {
    display: flex;

    padding: 0 1rem;

    text-align: center;
    text-transform: uppercase;

    color: #d4d2ff;
    background-color: #112677;

    align-items: center;
}

header h1 {
    display: inline-block;

    margin: 1rem auto;

    color: #ffffff;
}

/* Stats */
.stats {
    margin: 10px;
}

.stats table {
    margin: auto;
    font-size: 14px;
}

.stats th {
    text-align: right;
    letter-spacing: 2px;

    font-weight: normal;
}

.stats td {
    text-align: left;
}

/* Translation */
.translation {
    display: flex;

    padding: 1em;

    -webkit-user-select: none;
    user-select: none;
    transition: all .2s;

    border-top: 1px solid rgba(0,0,0,.1);
    background-color: #ffffff;

    font-size: 1rem;

    align-items: center;
}



.translation.completed .translation-title {
    text-decoration: line-through;
}

.translation .translation-title {
    margin-right: auto;
}

.translation .checkbox {
    margin-right: .5rem;
}

.translation button:not(.checkbox) {
    transition: all .2s;

    opacity: 0;
}

.translation:hover button:not(.checkbox) {
    opacity: 1;
}

.translation-edit-form {
    display: flex;
    flex-direction: column;

    padding: .85em;

    border-top: 1px solid rgba(0,0,0,.1);

    font-size: 1rem;
}

.translation-edit-form input {
    flex: 1;
}

.translation-edit-form .save {
    margin-left: .5em;
}

.search-bar {
    display: flex;

    padding: 10px;

    border-top: 1px solid rgba(0,0,0,.1);
    background-color: #fafafa;
}

.search-bar input {
    flex: 1;

    transition: all .2s;

    outline: none;
}

.search-bar input:focus {
    border: 1px solid #00d8ff;
}

.search-bar button {
    margin-left: 10px;
}


.add-form {
    display: flex;

    padding: 10px;

    border-top: 1px solid rgba(0,0,0,.1);
    background-color: #fafafa;
}

.add-form input {
    flex: 1;

    transition: all .2s;

    outline: none;
}

.add-form input:focus {
    border: 1px solid #00d8ff;
}

.add-form button {
    margin-left: 10px;
}

.textarea {
    width: 100%;
    height: 50px;

    resize: none;

    font-size: 15px;
}
